* {
    margin: 0px;
    padding: 0px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nav1 {
    display: flex;
    justify-content: space-around;
    background-color: rgba(172, 231, 255, 0.281);
    padding: 4px 0px 5px 0px;
    margin-bottom: 45px;
}

#nav1 img {
    width: 80%;
    display: flex;
    margin: auto;
    transition: 0.3s;
}

.logo {
    position: absolute;
    width: 8%;
}

#nav1 img:hover {
    transform: scale(1.2);
}

#nav1>div:nth-child(1) {
    width: 8%;
}

#nav1>div:nth-child(2) {
    width: 60%;
    background-color: white;
    padding: 20px 0px;
}

#nav1>div:nth-child(3) {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icon img {
    width: 40%;
}

#nav2>div:nth-child(1) {
    display: flex;
    width: 18%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 30px;
}
#nav2>div:nth-child(2) {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 20px;
}

#trend{
    text-align: center;
    background-color: aliceblue;
}